<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="mpguid" value="7AF390DA-F520-4719-8692-F28FFA1CBD27"/>
    <add key="mppw" value="1234567"/>
    <add key="mpserver" value="localhost"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="apiSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.22/ministryplatform/public/api.asmx"
          binding="basicHttpBinding" bindingConfiguration="apiSoap"
          contract="MinistryPlatform.apiSoap" name="apiSoap" />
    </client>
  </system.serviceModel>
</configuration>