<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.22/ministryplatform/public/api.asmx"
                binding="basicHttpBinding" bindingConfiguration="apiSoap"
                contract="MinistryPlatform.apiSoap" name="apiSoap" />
        </client>
    </system.serviceModel>
</configuration>